.App {
  text-align: center;
  background-color: #d7effa;
  padding: 30px;
}

.myText{
  font-family: 'Lato',sans-serif;
}

.pure-menu-link:hover{
  background-color: white;
}

.nav a{
  border-radius: 10px;
}

.waveDiv{
  margin: 30px auto;
  max-width: 40%;
  text-align: left;
}

.waveDiv textarea{
  height: 220px;
  border-radius: 10px;
  padding: 20px;
  margin: 12px auto;
  width: 90%;
}

.waveDiv button{
  width: 100%;
  background: #51d971;
}

.connectDiv{
  margin: 20px auto;
}